body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.tag-name{
    color: rgb(18, 240, 155);
}
.flexible-area{
    display: flex;
    margin-bottom: 150px;
}
.half-width img{
    width: 100%;
    margin-top: 10%;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    margin-left: 2%;
    margin-right: 5%;
    
}

h1{
    font-size: 50px;
}
p{
    color: dimgray;
    font-size: 20px;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 2px 2px 35px 10px rgba(0, 0, 0, 0.2);
    
}
#stack-developer-border{
   border-left: 5px solid;
   border-image: linear-gradient(#eff30c, #eff30c) 30;
    
}
#baby-developer-border{
    border-left: 5px solid;
    border-image: linear-gradient(#cee40e, #2c5f03) 30;
}
footer p{
    text-align: center;
}